<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSampleYitu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2F7C59C70558748234722B5C2489850710BA42A3</string>
				<key>dateExpires</key>
				<string>31/10/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5647ML5CC6.com.oliveapp.appsample.yitu.three</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5647ML5CC6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5647ML5CC6.com.oliveapp.appsample.yitu.three</string>
				</array>
			</dict>
			<key>name</key>
			<string>AppSampleYitu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10882b48-22e2-4638-a5cb-49d48480b20d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.oliveapp.appsample.yitu.three</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5647ML5CC6</string>
				<key>name</key>
				<string>May Lim</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
