<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSampleYitu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4A9B4F44D371AF1D19FC79022AFD6B78DD7BF8B6</string>
				<key>dateExpires</key>
				<string>2/11/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5647ML5CC6.com.oliveapp.appsample.yitu.six</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5647ML5CC6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5647ML5CC6.com.oliveapp.appsample.yitu.six</string>
				</array>
			</dict>
			<key>name</key>
			<string>AppSampleYitu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b2998025-7dfc-4226-88a8-30f985bfae19</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5647ML5CC6</string>
				<key>name</key>
				<string>May Lim</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
